/* Quote-Tool */

body {
    font-family: 'Quicksand', sans-serif;
    color: #3F5153;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.page-container {
    display: grid;
    grid-template-columns: 8fr 4fr;
    min-height: 100vh;
}

.quote-tool,
.pricelist,
.product-page {
    padding: 2rem;
    height: 100%;
}

/* Price List */

.pricelist {
    background-color: #efefef;
    transition: .1s ease-in-out;
}

.pricelist:hover,
.product-page:hover {
    box-shadow: 10px 0 10px -2px #777; 
}

.pricelist__header,
.quote-tool__header {
    margin-bottom: 2rem;
}

.pricelist__header {
    display: grid;
    grid-template-columns: 15rem 20rem auto;
}

.pricelist__title {
    display: inline-block;
    margin: 0 2rem 0 0;
}

.pricelist__search-bar-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.pricelist__search {
    padding: .8rem;
    border-radius: 5px;
    font-size: 1.1rem;
    border: 1px solid #3F5153;
    width: 20rem;
    vertical-align: top;
    padding-left: 2.6rem;
    grid-column-start: 1;
    grid-row-start: 1;
}

.pricelist__search-icon {
    font-size: 1.4rem;
    vertical-align: top;
    color: #3F5153;
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 10;
    padding-left: .8rem;
    width: 1.6rem;
}

.pricelist__search-by-options {
    display: grid;
    grid-template-columns: ;
}

.pricelist__search-by-options label {
    font-size: 1rem;
}

.search-by-label {
    transition: .2s ease-in-out;
}

.search-by-label:hover {
    color: #3DB7C6;
}

.products__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

.products__no-results {
    font-size: 1.5rem;
}

.product {
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 10px 6px -6px #777;
    height: 100%;
    transition: .2s ease-in-out;
    overflow: hidden;
    position: relative;
}

.product:hover {
    transform: translateY(-1px);
    box-shadow: 0 10px 18px -4px #777;
}

.product__name {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.product__info {
    font-size: 1.1rem;
    margin-bottom: .4rem;
}

.bold {
    font-weight: bold;
}

.product__platform {
    display: inline-block;
    background-color: #42b983;
    color: #fff;
    font-size: .9rem;
    padding: .5rem;
    margin-bottom: .4rem;
}

.product__button {
    padding: .5rem;
    font-size: 1rem;
    border-radius: 3px;
    display: inline-block;
    background-color: #3DB7C6;
    color: #fff;
    transition: .2s ease-in-out;
    width: fit-content;
}

.product__button:hover {
    background-color: #123539;
}

.product__button--margin-bottom {
    margin-bottom: 2rem;
}

.product__addQty-wrapper {
    display: grid;
    grid-template-columns: 9rem 3rem 5rem ;
    align-items: center;
}

.product__qty-label {
    font-size: 1rem;
    justify-self: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.number-input-container {
    display: grid;
    grid-template-columns: 5rem;
    align-items: center;
}

.number-input {
    display: inline-block;
    width: 100%;
    padding: .3rem 1.5rem .3rem .3rem;
    border-radius: 5px;
    font-size: 1.1rem;
    border: 1px solid #efefef;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
}

.number-input-controls {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: fit-content;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: right;
    padding-right: .6rem;
}

.number-input-controls i {
    font-size: .8rem;
    color: #3DB7C6;
}

.number-input-controls i:hover {
    color: #123539;
}

.product__corner-button {
    height: 4rem;
    width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: center;
    transform: rotate(45deg) translate(0%, -70%);
    background-color: #3DB7C6;
    color: #fff;
    transition: .2s ease-in-out;
    opacity: 0;
}

.product__corner-button:hover {
    background-color: #123539;
}

.product:hover .product__corner-button {
    opacity: 1;
}

.corner-button__icon {
    position: absolute;
    top: 35px;
    right: 18px;
    padding: .45rem;
    color: #fff;
    font-size: 1rem;
    z-index: 100;
    transform: rotate(-45deg) translate(0, 0);
}

/* Product Page */

.product-page__info {
    padding: 1.6rem 0;
    font-size: 1rem;
}

.info__section-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
}

.testimonial:not(:last-child) {
    margin-bottom: 1.4rem;
}

.testimonial__quote {
    margin-bottom: 1rem;
}

.testimonial__quote::before,
.testimonial__quote::after {
    content: "\"";

}

.testimonial__quotee {
    padding-left: 1.2rem;
}

.testimonial__quotee::before {
    content: "-";
}

/* Quote Tool */

.quote-tool {
    transition: .1s ease-in-out;
}

.quote-tool:hover {
    box-shadow: -10px 0 10px -2px #777; 
}

.quote-tool__header {
    display: grid;
    grid-template-columns: auto 6rem;
}

.quote-tool__title {
    justify-self: left;
    align-content: center;
    margin-bottom: 0;
}

.quote-tool__totalItems {
    font-size: 1.5rem;
    background-color: #3F5153;
    color: #fff;
    padding: .5rem;
    align-self: top;
    align-items: center;
    justify-self: stretch;
    justify-items: center;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.total-items__number {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    font-size: 1rem;
}

.total-items__items {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    font-size: .8rem;
}

.total-items__icon {
    grid-row: 1 / -1;
    grid-column: 2 / span 1;
    font-size: 1.5rem;
}

.quote__dashboard {
    padding: 1rem;
    background-color: #3F5153;
    color: #fff;
    margin-bottom: 2rem;
}

.dashboard__label {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.dashboard__amount {
    font-size: 1.3rem;
    padding: .5rem;
    background-color: #efefef;
    color: #3F5153;
}
.dashboard__amount:not(:last-child) {
    margin-bottom: 1rem;
}

.discounts {
    font-size: 1.5rem;
}

.has-deal-reg,
.deal-reg,
.additional-discounts {
    margin-bottom: 1rem;
}

.has-deal-reg-label {
    display: inline-block;
    font-size: 1rem;
}

.additional-discount-container {
    display: grid;
    grid-template-columns: 5rem 2rem;
    padding: 1rem 0;
    align-items: center;
}

.additional-discount__percentage {
    justify-self: center;
}

.quote-item {
    font-size: 1.2rem;
    display: grid;
    position: relative;
    grid-template-columns: 4rem 1fr;
    justify-items: stretch;
    margin-bottom: 1rem;
}

.quote-item__qty {
    background-color: #3F5153;
    color: #fff;
    border: 1px solid #3F5153;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: .6rem;
    display: grid;
    align-items: center;
    justify-content: center;
    
}

.quote-item__name {
    border: 1px solid #3F5153;
    padding: .6rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-self: stretch;
}

.quote-item__icons {
    justify-self: right;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}
.quote-item__icon {
    display: inline-block;
    justify-self: right;
    padding-left: .5rem;
    transition: .2s ease-in-out;
}

.quote-item__icon:hover {
    color: #3DB7C6;
}

.item-details-tooltip {
    position: absolute;
    left: -17rem;
    top: 0;
    background-color: #3F5153;
    color: #fff;
    transition: .2s ease-in-out;
    width: 16rem;
    padding: 1rem;
    border-radius: 5px;
    z-index: 1000;
    display: inline-block;
    grid-column-start: 1;
    grid-row-start: 1;
    display: none;
}

.item-details-tooltip li:not(:last-child) {
    margin-bottom: .5rem;
}

.tooltip-wrapper {
    position: relative;
    width: 100%;
}

.tooltip-wrapper::after {
    content: "";
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #3F5153;
    top: 0px;
    right: -1.6rem;
}

.quote-item:hover .item-details-tooltip {
    display: inline-block;
}

.discount-input {
    padding: .5rem;
    border-radius: 5px;
    font-size: 1.1rem;
    border: 1px solid #3F5153;
    width: 5rem;
    text-align: center;
}

.partner-level-select {
    padding: .5rem;
    border-radius: 5px;
    font-size: 1.1rem;
    margin: 1rem 0;
    border: 1px solid #3F5153;
}

.highlighted {
    color: #42b983;
}

.toTopButton {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    opacity: 0;
    background-color: #3DB7C6;
    color: #fff;
    padding: .8rem;
    font-size: 2rem;
    border-radius: .5rem;
    transition: .2s ease-in-out;
}

.toTopButton i {
    transition: .2s ease-in-out;
}

.toTopButton:hover i {
    transform: translateY(-1px);
}

.toTopButton:hover {
    background-color: #123539;
}

.show-to-top {
    opacity: .8;
}

