/* Quote-Tool */

body {
    font-family: 'Quicksand', sans-serif;
    color: #3F5153;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.page-container {
    display: grid;
    grid-template-columns: 8fr 4fr;
    height: 100vh;
}

.quote-tool,
.pricelist {
    padding: 4rem;
    height: 100%;
}

/* Price List */

.pricelist {
    background-color: #efefef;
    transition: .1s ease-in-out;
}

.pricelist:hover {
    box-shadow: 10px 0 10px -2px #777; 
}

.pricelist__header,
.quote-tool__header {
    margin-bottom: 2rem;
}

.pricelist__header {
    display: grid;
    grid-template-columns: 15rem 20rem 3rem auto;
}

.pricelist__title {
    display: inline-block;
    margin: 0 2rem 0 0;
}

.pricelist__search {
    padding: .8rem;
    border-radius: 5px;
    font-size: 1.1rem;
    border: 1px solid #3F5153;
    width: 20rem;
    vertical-align: top;
}

.pricelist__search-icon {
    font-size: 1.4rem;
    margin-left: 1rem;
    vertical-align: top;
    padding-top: 1rem;
    color: #3F5153;
}

.pricelist__search-by-options {
    display: grid;
    grid-template-columns: ;
}

.pricelist__search-by-options label {
    font-size: 1rem;
}

.products__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

.products__no-results {
    font-size: 1.5rem;
}

.product {
    padding: 2rem;
    border: 1px solid #3F5153;
    background-color: #fff;
    box-shadow: 0 10px 6px -6px #777;
    height: 100%;
    transition: .2s ease-in-out;
}

.product:hover {
    transform: translateY(-1px);
    box-shadow: 0 10px 18px -4px #777;
}

.product__name {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.product__info {
    font-size: 1.1rem;
    margin-bottom: .4rem;
}

.bold {
    font-weight: bold;
}

.product__platform {
    display: inline-block;
    background-color: #42b983;
    color: #fff;
    font-size: .9rem;
    padding: .5rem;
    margin-bottom: .4rem;
}

.product__button {
    padding: .5rem;
    font-size: 1rem;
    border-radius: 3px;
    display: inline-block;
    background-color: #3DB7C6;
    color: #fff;
    transition: .2s ease-in-out;
}

.product__button:hover {
    background-color: #123539;
}

.product__addQty-wrapper {
    display: inline-block;
    padding-left: 1rem;
}

.product__qty-label {
    font-size: 1rem;
}

.product__add-qty {
    display: inline-block;
    width: 4rem;
    padding: .3rem;
    border-radius: 5px;
    font-size: 1.1rem;
    border: 1px solid #3F5153;
    text-align: center;
}

/* Quote Tool */

.quote-tool {
    transition: .1s ease-in-out;
}

.quote-tool:hover {
    box-shadow: -10px 0 10px -2px #777; 
}

.quote__dashboard {
    padding: 2rem;
    background-color: #3F5153;
    color: #fff;
    margin-bottom: 2rem;
}

.dashboard__label {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.dashboard__amount {
    font-size: 1.8rem;
    padding: 1rem;
    background-color: #efefef;
    color: #3F5153;
}
.dashboard__amount:not(:last-child) {
    margin-bottom: 2rem;
}

.discounts {
    font-size: 1.5rem;
}

.has-deal-reg,
.deal-reg,
.additional-discounts {
    margin-bottom: 1rem;
}

.has-deal-reg-label {
    display: inline-block;
}

.quote-item {
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 5rem 1fr;
    justify-items: stretch;
    margin-bottom: 1rem;
}

.quote-item__qty {
    background-color: #3F5153;
    color: #fff;
    border: 1px solid #3F5153;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: .8rem 1rem;
    display: grid;
    align-items: center;
    justify-content: center;

}

.quote-item__name {
    border: 1px solid #3F5153;
    padding: .8rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-self: stretch;
}

.quote-item__icons {
    justify-self: right;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}
.quote-item__icon {
    display: inline-block;
    justify-self: right;
    padding-left: .5rem;
    transition: .2s ease-in-out;
}

.quote-item__icon:hover {
    color: #3DB7C6;
}

.discount-input {
    padding: .5rem;
    border-radius: 5px;
    font-size: 1.1rem;
    margin: 1rem 0;
    border: 1px solid #3F5153;
    width: 5rem;
    text-align: center;
}

.partner-level-select {
    padding: .5rem;
    border-radius: 5px;
    font-size: 1.1rem;
    margin: 1rem 0;
    border: 1px solid #3F5153;
}

.highlighted {
    color: #42b983;
}


